<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gmsyrimis.jwplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.gmsyrimis.jwplayer.JWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!--TODO uncomment if you have an ads license key-->
        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version"/>-->

        <activity
            android:name="com.gmsyrimis.jwplayer.activities.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.gmsyrimis.jwplayer.activities.PlayerConfigActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--TODO uncomment if you have an ads license key-->
        <!--<activity-->
        <!--android:name="com.gmsyrimis.jwplayer.activities.VastAdvertisingActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustPan"/>-->
        <!--<activity-->
        <!--android:name="com.gmsyrimis.jwplayer.activities.ImaAdvertisingActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustPan"/>-->

        <activity
            android:name="com.gmsyrimis.jwplayer.activities.CaptionStyleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.gmsyrimis.jwplayer.activities.LogoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.gmsyrimis.jwplayer.activities.PlaylistItemActivityTest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.gmsyrimis.jwplayer.activities.MediaSourceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--TODO uncomment if you have an ads license key-->
        <!--<activity-->
        <!--android:name="com.gmsyrimis.jwplayer.activities.AdBreakActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustPan"/>-->

        <activity
            android:name="com.gmsyrimis.jwplayer.activities.CaptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.gmsyrimis.jwplayer.activities.QrActivity"/>
        <activity
            android:name="com.gmsyrimis.jwplayer.activities.SkinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.gmsyrimis.jwplayer.activities.RelatedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>
